# CS 2150 Computer Project 3: Summation, Sets, and Functions

**Goals:** Experiment with summation, sets, functions, and induction.

**Lecture References:** L05, L06

**Instructions:** Carefully read all of the text in the Markdown cells; these give you information about the assignment. **Numbered, heading-level text in the document describe the project deliverables.**

**Note: Include each deliverable directly underneath the markdown cell which asks for it.**

**Note also: when we receive your notebook, the first thing we will do is clear its memory and run it from the beginning.** You are responsible for ensuring that when we do this, the entire notebook executes and computes the desired results. Notebooks which fail to execute will typically receive low grades.

---
# Part 1

# Summation

This section is to reinforce the understanding of summation in implementation and translation from mathematical notation to a program.

ex.
---
$\sum_{i=0}^{n}(i)$
---

In [15]:
n = 11
sum = 0
for i in range(n):
    sum += i
print(sum)

55

---
# Deliverable 1
Write the following Summations as Python loops for a, b, c, and d
---

n = 10 for all of the following that are not otherwise specified
---
a)
**Traditional Summation**

$\sum_{i=1}^{n}(\frac{1}{i})$
---

for all of the above write a python function that runs and prints the outcome of the summation

In [16]:
def a():
    sum = 0
    # Write your code here
    for i in range(1, n + 1):
        sum += 1/i

    return sum
print(a())

3.0198773448773446

b)
**Function Output Summation**

**f(x) = $n^2$**
---

$\sum_{i=0}^{n}(f(i))$
---

In [17]:
def b():
    sum = 0
    # Write your code here
    for i in range(n):
        sum += i**2

    return sum
print(b())

385

c)
**Recursive Function Summation**

**g(0) = $1$**
---

**g(x) = $g(x-1)*2$**
---

$\sum_{i=0}^{n}(g(i))$
---

In [22]:
def g(x):
    if x == 0:
        return 1
    else:
        return g(x-1)*2

def c(n):
    sum = 0
    # Write your code here
    for i in range(0, n):
        sum += g(i)

    return sum

d)
**Double Summation**

$\sum_{i=0}^{n}\sum_{j=0}^{n}(i^j)$
---

In [24]:
def d():
    sum = 0
    # Write your code here
    for i in range(n):
        for j in range(n):
            sum += i**j

    return sum

## Do not alter the below cell

In [25]:
# Do Not Alter
print(a())
print(b())
print(c(10))
print(d())
# Do Not Alter

3.0198773448773446
385
1023
16676686707

---

# Part 2
# Sets

ex.

$A = {1,2,3,4}$

$B = {2,4,6,8}$

$C = A \cap B$

$D = A \cup B$

---
In Latex embedded in a Jupyter Notebook:

Intersesct = \cap

Union = \cup

In [26]:
A = {1,2,3,4}
B = {2,4,6,8}
C = A.intersection(B)
D = A.union(B)

print("A intersect B")
print(C)
print()
print("A union B")
print(D)

A intersect B
{2, 4}

A union B
{1, 2, 3, 4, 6, 8}

---
# Deliverable 2
Write the following Set operational expressions in python.

A = {1,2,3,5,8,13}

B = {2,5,6,8,10,12}

C = {1,3,7,9,13,15}

1. $(A \cup B \cap C) - (A \cap B) = E$

D = {1,2,4,5,7,8}

2. $(C \cap D) \cup (A \cap D) \cup B = F$

In [28]:
# Enter your Python Code Here Print the final Sets (E and F) after the operations
# Find the sets E and F and print them (mind these are different sets than from the given A, B, and C declared above)
A = {1,2,3,5,8,13}
B = {2,5,6,8,10,12}
C = {1,3,7,9,13,15}
E = (A | (B & C)) - (A & B)
D = {1,2,4,5,7,8}
F = (C & D) | (A & D) | B
# 1.

print(E)
# 2.

print(F)

{1, 3, 13}
{1, 2, 5, 6, 7, 8, 10, 12}

---
# Part 3
# Functions and Relations

In this section you will explore different function applications and apply what was learned chapter 2.3.

---
# Deliverable 3.1

a) Write a mapping function f(x) . It will map input values from 0 to 3628 (the output of g(x)) and map them to an output that is of the same proportion but from 0 to 100. This is very useful in many applications from robotics to banking.

b) Write a function g(x). Where g(x) = x!/100 where the input must be between 0 and 9 and the output must be an integer.

These will be evaluated as composite outcomes of the functions. Ensure they each work individually and then together.

In [65]:
# Write your code here
def f(x):
    # Mapping function from 0 to 3628 -> 0 to 100
    mapping = (x / 3628) * 100
    return mapping

def g(x):
    # Factorial function (Range 0-9)
    factorial = 1

    for i in range(1, x + 1):
        factorial *= i

    return round(factorial / 100)

In [66]:
print(f(g(9)))
print(f(g(8)))
print(f(g(7)))
print(f(g(6)))
print(f(g(5)))
print(f(g(4)))
print(f(g(3)))
print(f(g(2)))
print(f(g(1)))

100.02756339581036
11.108048511576627
1.3781697905181918
0.19294377067254684
0.027563395810363836
0.0
0.0
0.0
0.0

---

## Deliverable 3.2
Consider the set
S = {(1,3), (-1, 1), (12, $4^2$), (.99, .999)}

3.2.a) Does the set of pairs S satisfy the relation R = {(a, b) | a â‰¤ b}?

3.2.b) Does S satisfy relation P = {(a,b) | a! < b!}?

3.2.c) Does S satisfy relation Q = {(a,b) | a/b $\leq$ b/a}?

### Enter your answers for 3.2 here. Justify.

3.2.a) Yes, because when you plug in each set the first value is less than or equal to the second value

1.   1 <= 3        TRUE
2.   -1 <= 1       TRUE
3.   12 <= 16      TRUE
4.   0.99 <= 0.999 TRUE

3.2.b)
No, because the second pair of numbers (-1, 1) specifically the factorial of -1 is undefined.

3.2.c)
Yea, because whe you plug in each value and do the division the a value is less than or equal to the b value

1. 1/3 = 0.333, 3/1 = 3 therefore 0.333<=3                   TRUE
2. -1/1=-1, 1/-1=-1 therefore -1<=-1                         TRUE
3. 12/16=0.75, 16/12=1.333 therefore 0.75<=1.333             TRUE
4. 0.99/0.999=0.991, 0.999/0.99=1.009 therefore 0.991<=1.009 TRUE